.faq-section {
  margin-bottom: 60px;
}

.faq-heading {
  margin: 50px auto;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-align: center;

  color: #0f2b34;
}

.accordions__container-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;

  padding: 20px;
}

.accordion__container {
  width: 100%;
  border: 1px solid #a7a7a7;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-out;
}

.accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  background-color: #fff;

  text-align: left;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #1e4552;

  transition: 0.4s;
}

.accordion:after {
  content: "\002B";
  color: #444647;
  font-size: 25px;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.panel {
  display: none;
  flex: 1;
  text-align: left;
  padding: 18px;
  background-color: #f6f5f7;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #0f2b34;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
