.issue-reason-box {
  width: 1000px;
  margin-inline: auto;

  background: #ffffff;
  border: 2px solid #ebdbe4;

  padding: 50px;
  margin-bottom: 100px;
}

@media screen and (max-width: 1024px) {
  .issue-reason-box {
    width: 90%;
  }
}

.issue-reason-box div {
  height: 1px;
  width: 70%;
  border: 1px solid #c2c2c2;
  background-color: #c2c2c2;

  margin: 30px auto 35px auto;
}

.issue-reason-box p {
  text-align: center;

  color: #616161;
}

.issue-reason-box p:nth-child(1) {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.issue-reason-box p:nth-child(2) {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
}

.issue-reason-box p:nth-child(4) {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.issue-reason-box p:nth-child(5) {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
